name: Build and Upload Artifact

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04

    permissions:
      actions: write
      contents: write
      checks: write
      issues: write
      deployments: write
      packages: write
      pages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
      models: read
      discussions: write
      attestations: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run build command
        run: |
          # Ganti ini sesuai perintah build projectmu, contoh C/C++:
          make

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-build-output
          path: path/ke/hasil/build/
