name: Build AndUEDumper

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: sudo apt-get install -y make git wget unzip

      - name: Download and extract Android NDK r25c
        run: |
          wget https://dl.google.com/android/repository/android-ndk-r25c-linux.zip
          unzip android-ndk-r25c-linux.zip

      - name: Build AndUEDumper
        run: |
          export NDK_HOME=$PWD/android-ndk-r25c
          cd AndUEDumper/AndUEDumper
          make clean && make

      - name: Upload build artifact
        uses: actions/upload-artifact@v3
        with:
          name: AndUEDumper-build
          path: AndUEDumper/build/
